.footer__column-link {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}
